# Ignore everything
*

# But do not ignore directories (so we can traverse them to find files)
!*/

# Do not ignore pdf and md files
!*.pdf
!*.md

# Do not ignore this .gitignore file itself
!.gitignore